/* @font-face {
  font-family: "Arvo";
  font-style: normal;
  src: local("Arvo"), url(../../fonts/Arvo/Arvo-Bold.ttf) format("truetype");
} */

/* @font-face {
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto"),
    url(../../fonts/Roboto/static/Roboto-Regular.ttf) format("truetype");
} */
